#top {
    text-align: center;
}

body {
    background: linear-gradient(to bottom, #ff99cc, #cc99ff); /* Rosa e lilás */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #ffffff; /* Branco para contraste */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu {
    width: 100%;
    background-color: black;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 95vh;
    background-color: #212529
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #41403b;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px
}

.areaLogin img {
    width: 420px;
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin: 2px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
    color: black;
    width: 314px
}

input[type="text"], input[type="password"], input[type="email"] {
    border: 2px solid #ff99cc; /* Rosa */
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
}

input[type="submit"] {
    background-color: #ff66b2; /* Rosa */
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

input[type="submit"]:hover {
    background-color: #cc33ff; /* Lilás */
}

.formLogin input:focus {
    border: 1px solid #ff66b2;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

label {
    color: #cc33ff; /* Lilás */
    font-weight: bold;
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #fff;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: #ff66b2;
}

.btn {
    background-color: #ff66b2;
    color: black;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;

}

.btn:hover {
    transform: scale(1.05);
    background-color: #ff66b2;
}

a {
    color: #ff66b2; /* Rosa */
    text-decoration: none;
}

a:hover {
    color: #cc33ff; /* Lilás */
    text-decoration: underline;
}

#error {
    margin: 0;
    color: red;
}
