body {
    background: linear-gradient(to bottom, #ff99cc, #cc99ff);
    font-family: Arial, sans-serif;
}
.card {
    border: 0 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
    background-clip: padding-box !important;
}