* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
}

body {
    background: linear-gradient(to bottom, #ff99cc, #cc99ff); /* Rosa e lilás */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo preto translúcido */
    color: white;
    padding: 1rem 0;
}

main {
    background-color: #1e2327;
    color: white;
    text-align: center;
}

.menu {
    width: 100%;
    background-color: black;
}

.btn {
    background-color: #ffc107;
    color: black;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #ebf82e;
}

#content-left {
    width: 130vh;
    min-height: 92vh;
    border-right: 1px solid white;
}

#content-right {
    width: 80vh;
}

.headerLiga {
    display: flex;
}

.DivsLeft {
    width: 65vh;
}

#melhor_guild {
    align-items: center;
}

table {
    margin: auto;
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ffffff;
    padding: 10px;
}

h3 {
    margin: auto;
    width: 50vh;
    border: 1px solid;
}

h2 {
    font-size: 10vh;
    font-family: sans-serif;
    color: #cc33ff; /* Lilás */
    margin-bottom: 1rem;
}

.results {
    width: 80%;
    margin: auto;
    padding: 2svh;
}

.form {
    padding: 4vh;
    font-size: 2vh;
}

.form select,
button {
    border-radius: 15%;
    padding: 1vh;
}

button {
    background-color: #ff66b2; /* Rosa */
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #cc33ff; /* Lilás */
}

a {
    color: #ff66b2; /* Rosa */
    text-decoration: none;
}

a:hover {
    color: #cc33ff; /* Lilás */
    text-decoration: underline;
}

.container {
    max-width: 800px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}