html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #ff99cc, #cc99ff);
    font-family: Arial, sans-serif;
}

.btn-rosa {
    background-color: #ff66b2;
    color: white;
    border: none;
}

.btn-rosa:hover, .btn-rosa:focus {
    background-color: #cc33ff;
    color: white;
}